body {
	height: 100%;
	background: url('/assets/img/blackorchid.png') top left repeat;
	// background-attachment: fixed;
	// background-size: cover;
	// overflow: hidden;

	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) { 
		background: url('/assets/img/blackorchid_@2x.jpg') top left repeat;
		background-size: 300px 300px;

	}
}
