// COMING SOON
// ------------------------
body {
	background: url('/assets/img/rare2.jpg') center center no-repeat;
	// background-attachment: fixed;
	background-size: cover;
}

h2.coming-soon {
	text-align: center;
	font-weight: bold;
	font-weight: 700;
	text-transform: uppercase;
	color: $red;
	letter-spacing: 1px;
	font-size: 1.6em;
	line-height: 1;
	margin: 1.3em 0;
	color: white;
	
	@media screen and (min-width: $baby-bear) {
		font-size: 3em;
		margin: 0.5em 0;
	}

	@media screen and (min-width: $mama-bear) {
		font-size: 5em;
		letter-spacing: 5px;
		margin: 0.2em 0;


	}
}

#hero2 {
	// position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;

	&:before {
		content: ""	;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;

		background-color: $grey;
		opacity: 0.7;	
	}
	
}

a:hover {
	text-decoration: none;
}

// REFACTOR THIS 
.wrapper {
	max-width: 100%;
	margin: 0 auto;
	padding: 1em;
	text-align: center;

	@media screen and (min-width: $baby-bear) {
		max-width: 80%;
	}
}

a.rare-btn {
	width: 100%;
	padding: 0.5em;
	display: block;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: 'futura-pt';
	font-weight: 700;
	margin-bottom: 1em;
	max-width: 17em;
	
	// ON DARK	
	border: 3px solid white;
	color: white;
	// ON LIGHT
	// border: 3px solid $red;
	// color: $red;

	transition: all 0.3s ease;

	> span {
		padding-left: 0.5em;
	}

	&:hover {		
		
		// ON DARK
		background-color: #fff;
		color: $red;
		// ON LIGHT
		// background-color: $red;
		// color: white;



	}

	@media screen and (min-width: $mama-bear) {
		display: inline-block;
		width: inherit;
		padding: 0.5em 2em;
		margin-right: 2em;
		&:last-child {
			margin-right: 0;
		}
		
	}
}


// SVG SHIZ-NIT
// ------------------------
svg.logo {
	background-color: $red;
	padding: 2.5em;
	width: 100%;
	// max-width: 28em;
	// max-height: 11em;
	max-height: 9em;
	margin: 0 auto;
	display: block;
	
	path { fill: white; }

	@media screen and (min-width: $baby-bear) {
		margin-top: 2em;
		max-width: 13em;
		max-height: 6em;
		padding: 1.5em;
		margin-bottom: 7em;
	}


}