// HEADER & LOGO

header {
	display: block;
	width: 100%;
	position: absolute;
	text-align: center;
	z-index: 1031;
	top: 0;	
}

a.rare-logo {
	display: block;
	overflow: hidden;	
	margin: 1em auto;
	width: 50%;
	max-width: 13em;
	
	@include transition(all, 0.3s ease);

	@include bp(wale) {
		margin-top: 2em;
	}


}

svg.logo {
	
	path { fill: white; }
	background-color: $red;
	
	display: block;
	margin: 0 auto;
	padding: 1.5em;
	width: 100%;

	// BP COLOR TEST
	// @include bp(wale) {
	// 	background-color: green;
	// }
	// @include bp(drake) {
	// 	background-color: purple;
	// }
	// @include bp(cudi) {
	// 	background-color: blue;
	// }

}

// @mobile + LANDSCAPE 
@media only screen and (max-device-width : $wale) and (orientation : landscape) {
	// shrink logo 
	a.rare-logo { 
		max-width: 8em; 

		// adjust padding
		> svg.logo { padding: 1em; }
	}		
}