// MIXINS
// ------------------------

@mixin row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 62.5em;
	// padding-top: 10em;
	// visibility: hidden;
}

.row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 62.5em;
}

// REFACTOR THIS 
.wrapper {
	max-width: 100%;
	margin: 0 auto;
	padding: 1em;
	text-align: center;

	@media screen and (min-width: $baby-bear) {
		max-width: 80%;
	}
}
