// MIXINS
// ------------------------

@mixin row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 62.5em;
	// padding-top: 10em;
	// visibility: hidden;
}

.row {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 62.5em;
}

// REFACTOR THIS 
.wrapper {
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
	// padding: 1em;
	text-align: center;

}


// HALF COLUMN 
.column {
	width: 100%;
	
	@include bp(wale) {
		width: 50%;
		float: left;
	}
}
