section {
	margin: 4em auto;
}


#profile {
	// @include row;
	// background-color: green;
	overflow: hidden;	
}

$profile-card-height: 20em;

$base-border-color: $red;
$base-line-height: 1.5em;


// RE-CLASSIFIED STYLES -----------------------------------------------------------------
.profile-row {
	@include row;
	overflow: hidden;
}

.profile-card-outer {
	
	width: 100%;
	padding: 0;
	
	height: $profile-card-height;
	cursor: pointer;

	background-position: bottom;
	background-size: cover;
	
	@media screen and (min-width: $mama-bear){
		width: 50%;
		float: left;
	}

	&#stanley { 
		background-image: url('/assets/img/vaughn.jpg');	
		background-position: top;
	}

	&#rolex {  background-image: url('/assets/img/req.jpg'); }

	.profile-card-container {
		height: $profile-card-height;
		overflow: hidden;

		&:hover > .profile-card {
			@include transform(translate(0, -100%));
		}

		.profile-card {
			// @include transition(all, .2s ease-in-out);
			-webkit-transition: all, 0.2s ease-in-out;
			-moz-transition: all, 0.2s ease-in-out;
			transition: all, 0.2s ease-in-out;

			background: inherit;
			color: white;
			height:inherit;
			padding: 7em 1.5em 0;
		}

		.profile-card-visible {
			color: transparentize(white, .3);
			text-align: center;
			position: relative;
			// font-size: 2em;
			// font-weight: 200;  
			// padding-top: 2em;
		}

		.profile-card-hidden {
			background: transparentize(white, .5);
			text-align: center;
		}
	}
}




a.social {
	@extend .rare-btn;
	border-color: $red;
	color: $red;

	&:first-child {
		margin-right: 1em;
	}
	&:hover {
		color: $white;
		background-color: $red;
		// border-bottom: 5px solid $red;
	}
}