// COLORS
$black: #000;
$white: #fff;
$grey: #ddd;

$grey: #888;
$grey: #4d4d4d;

$red: #991616;



// COLOR TESTS
$red: #BF1D25;
$red-dark: darken($red, 10%);

// SIZES

// 480px
$baby-bear: 32em;

// 1005
$mama-bear: 50em;
