// COLORS
$black: #000;
$white: #fff;
$grey: #ddd;

$grey: #888;
$grey: #4d4d4d;

$red: #991616;



// COLOR TESTS
$red: #BF1D25;
$red-dark: darken($red, 10%);

// SIZES

// 480px
$baby-bear: 32em;

// 1005
$mama-bear: 50em;

// 600px, 
$wale: 40em;
$drake: 60em; 
$cudi: 90em;


@mixin bp($point) {
	
	$bp-wale:   "(min-width: #{$wale} )";
	$bp-drake:  "(min-width: #{$drake} )";
	$bp-cudi:   "(min-width: #{$cudi} )";

	@if $point == wale {
		@media #{$bp-wale} { @content; }
	}
	
	@else if $point == drake {
		@media #{$bp-drake} { @content; }
	}
	
	@else if $point == cudi {
		@media #{$bp-cudi}  { @content; }
	}

}