---
---
<!DOCTYPE html>
<html>

	{% include head.html %}

<body>

	<!-- HEADER -->
	{% include header.html %}

	<!-- NAVIGATION -->
	{% include nav.html %}

	<!-- HERO -->
	{% include hero.html %}

	<!-- PROFILE -->
	{% include profile.html %}
	<!-- LOOKBOOKISH -->
	{% include lookbook.html %}
	<!-- 
	<div class="page-content">
      		<div class="wrap">
      			{{ content }}
      		</div>
      	</div>
 	-->	
	
	

	<!-- {% include footer.html %} -->



<script src="js/functions.js"></script>
</body>
</html>