---
---
<!DOCTYPE html>
<html>

	{% include head.html %}

<body>

	<!-- HEADER -->
	{% include header.html %}

	<!-- NAVIGATION -->
	{% include nav.html %}

	<!-- HERO -->
	{% include hero.html %}

	<!-- PROFILE & LOOKBOOK -->
	{% include profile.html %}
	
	<!-- JUKEBOX -->
	{% include jukebox.html %}
	<!-- 
	<div class="page-content">
      		<div class="wrap">
      			{{ content }}
      		</div>
      	</div>
 	-->	
		
	<!-- {% include footer.html %} -->

<!-- JAVASCRIPT -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- jPlayer -->
<script src="bower_components/jplayer/jquery.jplayer/jquery.jplayer.js"></script>
<script src="bower_components/jplayer/jquery.jplayer/jplayer.swf"></script>
<script src="bower_components/jplayer/add-on/jplayer.playlist.js"></script>
<script src="bower_components/jplayer/add-on/jquery.jplayer.inspector.js"></script>

<!-- PLAYLIST -->
<script src="js/playlist.js"></script>

<!-- FUNCTIONS -->
<script src="js/functions.js"></script>
</body>
</html>