<div id="hero2">
	<div class="wrapper">
		
		<h1 class="coming-soon">coming soon</h1>

		<!-- BUTTONS -->
		<a href="#download" class="rare-btn">
			download
			<span class="fa fa-download"></span>
		</a>

		<a href="http://twitter.com/share?
			text=No Broke Boyz
			&url=http://iamreq.com
			&hashtags=rare100,lordrolex," 
		class="rare-btn" target="_blank">
			share
			<span class="fa fa-share"></span>
		</a>

		<a href="http://bit.ly/rare100" class="rare-btn" target="_blank">
			listen
			<span class="fa fa-play"></span>
		</a>

	</div>
</div>