<section id="jukebox" class="wrapper">
	
	<!-- jPlayer Instance -->
	<div id="jquery_jplayer_rarity" class="jp-jplayer"></div>

	<!-- jPlayer Container -->			
	<div id="jp_container_rarity" class="jp-audio row">
		
		<!-- LEFT COLUMN -->
		<div class="column">
			
			<div id="vine-player">
				
				<!-- COVER ART -->
				<img src="/assets/img/cover-bw.jpg" alt="The Rarity">

				<!-- VOLUME CONTROLS -->
				<div class="jp-volume">
					
					<a href="javascript:;" class="hide jp-mute" tabindex="1" title="mute">
						<span class="fa fa-volume-up"></span></a>
					
					<a href="javascript:;" class="hide jp-unmute" tabindex="1" title="unmute">
						<span class="fa fa-volume-off"></span></a>

					<!-- 
						
						<a href="javascript:;" class="hide jp-volume-max" tabindex="1" title="max volume"><span class="fa">&#xf024;</span></a>
						<a href="javascript:;" class="hide jp-volume-max" tabindex="1" title="max volume"><span class="fa">&#xf028;</span></a>

						<div class="jp-volume-bar">
							<span class="entypo">&#9207;</span>
							<div class="jp-volume-bar-value"></div>
						</div>

					-->
					
				</div>

				<!-- TEST CONTROLS -->
				<div class="jp-controls">

					

					<a href="javascript:;" class="jp-previous jp-playlist-seek" tabindex="1"><span class="fa fa-fast-backward"></span></a>
					
					<a href="javascript:;" class="jp-play" tabindex="1"><span class="fa fa-play"></span></a>
					<a href="javascript:;" class="jp-pause" tabindex="1"><span class="fa fa-pause"></span></a>
					
					<a href="javascript:;" class="jp-next jp-playlist-seek" tabindex="1"><span class="fa fa-fast-forward"></span></a>



				</div>			

			</div>
			

			<!-- ACTIONS -->
			<div class="jukebox-btns">
				
				<a href="#" class="social jukebox">DOWNLOAD<span class="fa fa-download"></span></a>
				<a href="#" class="social jukebox">SHARE<span class="fa fa-share"></span></a>
				<a href="#" class="social jukebox">LIKE<span class="fa fa-thumbs-up"></span></a>
			</div>


		</div>

		<!-- TRACKLIST -->
		<div class="tracklist column">

			<!-- PLAYLIST GOES HERE -->
				<div class="jp-playlist">
					<ul></ul>
				</div>

				<!-- PROGRESS BAR -->
				<div class="jp-progress">
					<!-- TIME HOLDER -->
					<div class="jp-time-holder">
						<h1 class="current-track"></h1>
						<div class="jp-current-time"></div>
						<div class="jp-duration"></div>
					</div>

					<div class="jp-seek-bar">
						<div class="jp-play-bar"></div>
					</div>											
				</div>

				<!-- NO SOLUTION TEXT -->
				<div class="jp-no-solution">
					<span>Update Required</span>
					To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
				</div>

			</div>
			
		</div>


	</div>	

</section>