<div id="lookBook">	
	<img src="assets/img/rare-look0.jpg" alt="#rare">
	<img src="assets/img/rare-look1.jpg" alt="rare">
	<img src="assets/img/rare-look2.jpg" alt="rare">
	<img src="assets/img/rare-look3.jpg" alt="rare">
	<img src="assets/img/rare-look4.jpg" alt="rare">
	<img src="assets/img/rare-look5.jpg" alt="rare">
	<img src="assets/img/rare-look6.jpg" alt="rare">
	<img src="assets/img/rare-look7.jpg" alt="rare">
	<img src="assets/img/rare-look8.jpg" alt="rare">
	<img src="assets/img/rare-look9.jpg" alt="rare">
	<img src="assets/img/rare-look10.jpg" alt="rare">
	<img src="assets/img/rare-look11.jpg" alt="rare">
</div>