<section id="profile">
	
	<!-- PROFILE ROW -->
	<div class="profile-row">		
	
		<!-- ROLEX -->
		<div class="profile-card-outer" id="rolex">
			<div class="profile-card-container">
				
				<div class="profile-card profile-card-visible">
					<h2>Rolex</h2>
				</div>
				
				<div class="profile-card profile-card-hidden">
					<a href="https://twitter.com/iamreq" class="social rare-butn" target="_blank">TWITTER<span class="fa fa-twitter"></span></a>
					<a href="http://instagram.com/lordrolex_" class="social rare-butn" target="_blank">INSTAGRAM<span class="fa fa-instagram"></span></a>
				</div>

			</div>
		</div>
		
		<!-- VAUGHN -->
		<div class="profile-card-outer" id="stanley">
			<div class="profile-card-container">
				
				<div class="profile-card profile-card-visible">
					<h2>VAUGHN</h2>
				</div>
				
				<div class="profile-card profile-card-hidden">
					<a href="https://twitter.com/iamreq" class="social" target="_blank">TWITTER<span class="fa fa-twitter"></span></a>
					<a href="http://instagram.com/vaughnyxhilfiger" class="social" target="_blank">INSTAGRAM<span class="fa fa-instagram"></span></a>
				</div>

			</div>
		</div>

	</div>

	<!-- LOOKBOOK -->
	<div id="lookBook">
		<!-- <h3>#noBrokeBoyz</h3> -->
		<img src="/assets/img/rare-look0.jpg" alt="#rare">
		<img src="/assets/img/rare-look1.jpg" alt="rare">
		<img src="/assets/img/rare-look2.jpg" alt="rare">
		<img src="/assets/img/rare-look3.jpg" alt="rare">
		<img src="/assets/img/rare-look4.jpg" alt="rare">
		<img src="/assets/img/rare-look5.jpg" alt="rare">
		<img src="/assets/img/rare-look6.jpg" alt="rare">
		<img src="/assets/img/rare-look7.jpg" alt="rare">
		<img src="/assets/img/rare-look8.jpg" alt="rare">
		<img src="/assets/img/rare-look9.jpg" alt="rare">
		<img src="/assets/img/rare-look10.jpg" alt="rare">
		<img src="/assets/img/rare-look11.jpg" alt="rare">
	</div>

</section>